.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}

.body{
    margin: 0;
    padding: 0;
}
.logo p{
text-align: center;
}
.logo{
    text-align: center;
}
.Doctor-list h1{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 155, 113);
}
.logo p a button{
    background-color: rgb(89, 45, 131);
    color: rgb(15, 231, 159);
    border-radius: 10px;
    margin: 10px;
    padding: 7px;
}



